$galleryThumbBorderColor: #B3E5FC;

$tabColor: #B3E5FC;
$tabBorderColor: #B3E5FC;
$tabTextColor: black;

.title {
  text-align: center;
}

.header {
  overflow: hidden;
}

.gallery {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .picture-container {
      width: 100%;
    }

    .main-img {
      width: 100%;
      height: auto;
    }

    .thumbs {
      margin-bottom: 0;

      .thumbnail {
        margin-bottom: 0;
      }
      
      .thumbnail.active {
        border: 3px $galleryThumbBorderColor solid;
      }
    ;
    }
  }
}

.nav.nav-tabs > li > a {
  cursor: crosshair;
}

.nav.nav-tabs > li.active > a {
  cursor: crosshair;
  background-color: $tabColor;
  border-color: $tabBorderColor;
  color: $tabTextColor;

}

blockquote {
  overflow-x: scroll;
  margin: 0;
}

.tab {
  border-radius: 0 4px 4px 4px;

  .tab-pane > .tab-container {
    background-color: #B3E5FC;
    padding: 15px;

    form {
      margin-top: 10px;
    }
  }
}

.specs-list {
  margin: 0;
}

.reviews {
  list-style: none;
  padding-left: 10px;

  li {
    padding: 5px 0;

    blockquote {
      border-left: darkblue 5px solid;
    }
  }
}

.review-form {
  -webkit-transition: 0.3s ease-out max-height;
  transition: 0.3s ease-out max-height;
  max-height: 320px;
  overflow-y: scroll;
}

.review-form.ng-hide {
  max-height: 0;
}

.ng-dirty.ng-invalid {
  border-color: red;
}

.ng-dirty.ng-valid {
  border-color: green;
}

.small-thumbnail {
  width: (100vw / 4);
  height: (100vw / 4);
}

@media screen and (min-width: 320px) {
  .small-thumbnail {
    width: 80px;
    height: 80px;
  }

  .gallery .flex-container .picture-container {
    width: 320px;
  }
}

@media screen and (min-width: 800px) {
  main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
